<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration!!</title>
</head>
<body>
<form action="/new-user" method="post">
    <input type="text"     name="username" placeholder="Enter your username" />
    <input type="password" name="password" placeholder="Enter your password plz" />
    <input type="password" name="passwordConfirm" placeholder="Confirm your password" />

    <label for="isAdmin">Is An admin?</label>
    <input type="checkbox" name="isAdmin" id="isAdmin" />

    <input type="submit" value="Register!!" />
</form>

</body>
</html>